:root {
  --background: #0a0a0a;
  --foreground: #171717;
  --accent-color: #22a347;
  --hover-accent-color: #1e7e34;
  --main-color: #636363;
  --font-color: #dedede;
  --red-color: #d62727
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
