.header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100px;
}

.header__right {
    margin-left: auto; /* Это прижимает блок к правому краю */
}

.avatar:hover {
    opacity: 0.7;
}